body  {
    background-image: url("background2.jpg");
    background-color: #cccccc;
    background-size: cover;
  }

.container {
    background: rgba(255, 255, 255, 0.9);
    margin: auto;
    width: 65%;
    padding: 10px;
}

.intro {
  text-align: center;
}